@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Personalizar barras de navegación generales */

body {
  --scrollbar-border-thickness: 3px;
}
body::-webkit-scrollbar {
  width: var(--scrollbar-width, 20px);
  height: var(--scrollbar-height, 20px);
}
body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #3b82f6);
  border: var(--scrollbar-border-thickness, 3px) solid
    var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, #a1a1aa);
}
body::-webkit-scrollbar-button {
  background: var(--scrollbar-button-color, #3f3f46);
  border: var(--scrollbar-border-thickness, 3px) solid
    var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}
body::-webkit-scrollbar-corner {
  background: var(--scrollbar-corner-color, #ffffff);
  border: var(--scrollbar-border-thickness, 3px) solid
    var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}
body::-webkit-scrollbar-button:vertical:start:increment,
#preview::-webkit-scrollbar-button:vertical:end:decrement,
#preview::-webkit-scrollbar-button:horizontal:start:increment,
#preview::-webkit-scrollbar-button:horizontal:end:decrement {
  display: var(--show-double-buttons, none);
}

/* Personalizar barras de navegación de tablas */

/* Personalizar scrollbars dentro de tablas o cualquier elemento con overflow */
table::-webkit-scrollbar,
tbody::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: var(--scrollbar-width, 20px);
  height: var(--scrollbar-height, 20px);
}

table::-webkit-scrollbar-thumb,
tbody::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #3b82f6);
  border: var(--scrollbar-border-thickness, 3px) solid
    var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}

table::-webkit-scrollbar-track,
tbody::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, #a1a1aa);
}

table::-webkit-scrollbar-button,
tbody::-webkit-scrollbar-button,
div::-webkit-scrollbar-button {
  background: var(--scrollbar-button-color, #3f3f46);
  border: var(--scrollbar-border-thickness, 3px) solid
    var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}

table::-webkit-scrollbar-corner,
tbody::-webkit-scrollbar-corner,
div::-webkit-scrollbar-corner {
  background: var(--scrollbar-corner-color, #ffffff);
  border: var(--scrollbar-border-thickness, 3px) solid
    var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}

/* Barra de navegación principal */

.navbar {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  opacity: 0.9;
  padding: 0.5em 0;
  position: static;
}

.navbar-brand {
  font-size: 14px;
  box-shadow: 1px 1px 5px gray;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 768px) {
  .navbar-brand {
    padding: 5px 25px;
  }
}

/* Fijar NavBar */
.fixed {
  position: fixed !important;
  box-shadow: 3px 3px 5px #3b82f6;
}

/* Barra Búsqueda Roles Inicio */

.agregar-margen {
  margin-top: 78px;
}

.margen-superior {
  margin-top: 80px !important;
}

@media (max-width: 1450px) {
  .agregar-margen {
    margin-top: 95px;
  }
}

@media (max-width: 990px) {
  .agregar-margen {
    margin-top: 75px;
  }
}

.nav-proof {
  /* display: flex; */
}

/* .navbar-user-settings {
  margin-left: auto;
} */

@media (min-width: 1200px) {
  .navbar-user-settings {
    display: flex;
    gap: 1.3em;
  }
}

.user {
  /* font-size: .8rem; */
  text-align: center;
}

a.nav-link,
div.nav-link {
  /* min-width: 130px; */
}

.navbar-user-settings span {
  cursor: pointer;
}

@media (max-width: 1200px) {
  a.nav-link,
  div.nav-link {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 2.5;
    font-size: 1rem;
    color: white;
    /* color: white;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid white;
    margin-left: 0;
    border-radius: 5px; */
    cursor: pointer;
  }

  .nav-item,
  .user {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    border: 0.1px solid gray;
    /* border-radius: 5px; */
  }

  .nav-item:active,
  .nav-item:hover,
  .nav-item:focus,
  .user:active,
  .user:hover,
  .user:focus {
    background-image: linear-gradient(60deg, #3a4652 0%, #5a6b7d 100%);
  }

  .nav-item:nth-child(1) {
    border-bottom: none;
  }

  .cerrar-sesion {
    border-top: none;
  }

  .user {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .user-email-nav {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .container-fluid {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-brand {
    margin-left: 10px;
  }

  /* @media (min-width: 890px) {
    .navbar-brand {
      display: none !important;
    }
  } */

  /* @media (max-width: 1199px) {
    .navbar-brand {
      display: none;
    }
  } */
  /* 
  .navbar-collapse {
    padding-top: 10px;
  } */
}

/* Scrollbar */

#fijarNavbar span {
  display: inline-block;
  min-width: 80px;
}
