.barrio-mz-lote-resultados {
  margin: 2em auto;
}

.barrio-mz-lote-resultados td {
  font-size: bold !important;
}

.btn-estandar {
  width: 200px;
}

.barrio-mz {
  text-align: center;
  display: none;
}

.titulo-rol,
h1 {
  font-size: 20px;
  margin: 0 auto;
}

.caja-busqueda {
  font-size: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

table tr {
  line-height: 1 !important;
}

.mostrar-lotes {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2em auto;
}

.mostrar-lotes tr {
  display: block;
  margin: 0.5em auto;
}

.mostrar-lotes input[type="radio"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.mostrar-lotes tr td {
  display: flex;
}

@media (max-width: 900px) {
  .mostrar-lotes table {
    width: 90%;
  }

  .mostrar-lotes {
    flex-direction: column;
  }
  .mostrar-lotes label {
    display: block;
    width: 100%;
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }

  .contenedor-flexible {
    display: none;
  }

  .titulo-rol {
    display: none;
  }

  .caja-busqueda {
    display: none;
  }

  .titulo-imprimir {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
  }

  form {
    gap: 0;
  }

  select {
    padding: 0;
    width: fit-content;
  }

  @page {
    margin: 1em;
  }

  table {
    table-layout: auto !important;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }

  th,
  td {
    border: 1px solid #ddd;
  }

  td {
    white-space: nowrap;
    line-height: 1;
    font-size: 10px !important;
    font-weight: normal;
  }

  /* .caja-busqueda {
    width: 100%;
    font-size: 14px;
    display: block;
    margin: 0 auto;
  } */

  .no-print {
    display: none;
  }

  .table-cemmi tbody th {
    color: black;
  }

  .table-cemmi tbody th:nth-child(2),
  .table-cemmi tbody td:nth-child(2),
  .table-cemmi tbody th:nth-child(3),
  .table-cemmi tbody td:nth-child(3),
  .table-cemmi tbody th:nth-child(4),
  .table-cemmi tbody td:nth-child(4),
  .table-cemmi tbody th:nth-child(5),
  .table-cemmi tbody td:nth-child(5) {
    display: none;
  }

  .form-group select {
    text-align: center;
    display: none;
  }

  .form-group span {
    display: none;
  }

  .table-cemmi tbody td {
    padding: 0;
  }

  /* .table-cemmi tbody td:nth-child(2), .table-cemmi tbody th:nth-child(2) {
        display: none;
    } */

  /* .table-cemmi tbody td:nth-child(n + 12),
  .table-cemmi tbody th:nth-child(n + 12) {
    display: none;
  } */

  /* .barrio-mz {
    display: inline;
  } */

  .btn-imprimir {
    display: none;
  }

  .ancho-imp {
    width: 0.5em;
  }

  .mostrar-lotes {
    display: none;
  }

  .esquinas {
    background-color: grey !important;
    color: red;
  }

  /* .tabla-lista-precios tr:nth-child(odd) {
    color: blue;
  } */

  .tabla-lista-precios th:nth-child(1),
  .tabla-lista-precios td:nth-child(1) {
    color: blue;
    font-weight: bold;
  }

  .tabla-lista-precios td:nth-child(11),
  .tabla-lista-precios td:nth-child(12),
  .tabla-lista-precios th:nth-child(11),
  .tabla-lista-precios th:nth-child(12) {
    color: green;
    background-color: green;
  }

  .tabla-lista-precios td:nth-child(13),
  .tabla-lista-precios td:nth-child(14),
  .tabla-lista-precios th:nth-child(13),
  .tabla-lista-precios th:nth-child(14) {
    color: red;
    background-color: red;
  }

  .tabla-lista-precios td:nth-child(15),
  .tabla-lista-precios td:nth-child(16),
  .tabla-lista-precios th:nth-child(15),
  .tabla-lista-precios th:nth-child(16) {
    color: violet;
    background-color: violet;
  }

  .tabla-lista-precios td:nth-child(17),
  .tabla-lista-precios td:nth-child(18),
  .tabla-lista-precios th:nth-child(17),
  .tabla-lista-precios th:nth-child(18) {
    color: blue;
    background-color: blue;
  }
}

.btn-imprimir {
  float: right;
}

@media (max-width: 768px) {
  .btn-imprimir {
    float: none;
    display: block;
  }
}

/* #dfe7fd o #fffbeb */

.tabla-barrio-manzana table tr:nth-child(odd) {
  /* background-color: #b3e5fc !important; */
}

.resaltar-alternado {
  /* background-color: #b3e5fc !important; */
  background-color: #bec8d0; /* Amarillo pastel */
  /* font-weight: bold; */
}

.resaltar-esquinas {
  background-color: greenyellow;
  font-weight: bold;
}

/* .tabla-barrio-manzana table tr:hover {
  background-color: #e0e0e0 !important;
  transition: background 0.3s ease-in-out;
} */

.tabla-barrio-manzana table tr:nth-child(odd):hover {
  background-color: #4d8cbf !important;
}

.btn-oculto {
  display: none;
}

.panel-alta {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel-alta div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .btn-imprimir {
    display: none;
  }
}

.panel-alta-check div {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 0 5px black;
  gap: 10px;
  margin: 10px auto;
  border-radius: 5px;
}

.panel-alta-check div .control-label {
  width: 200px;
  max-width: 100%;
}

.espaciar-contenido {
  line-height: 2.5 !important;
}

#tabla-barrio-manzana table tr th {
  /* text-transform: uppercase; */
}

#PanelAlta div.form-group {
  display: flex;
  justify-content: center;
}
